
{% extends "BASE.html" %}

{% block title %}Home - My Website{% endblock %}

{% block content %}
<h1>This is the Home Bitch<h1></h1>
    <h2>Welcome to the Home Page</h2>
    <p>This is the content of the home page.</p>
    {% if user.is_authenticated %}
    <a href="we could be logged in">Logout user</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
    <div></div>

    <a href="{% url 'video_create' %}">Create Video</a>
    <div></div>
    <a href="{% url 'edit_video' video.id %}">Edit Video</a>
    <div></div>
    <a href="{% url 'video_detail' video.id %}">View Video Details</a>


{% endblock %}


